html {
    font-family: sans-serif;
    line-height: 1.15;
    background-color: #cbeaed;
  }
  body {
    margin: 0;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
    font-family: 'Nunito', sans-serif;
  }
  .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
  }  
  .form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
  }
  h1{
      font-size:2rem;
      margin:0
  }
  


  .btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  .btn-warning {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
  }
  
  .btn-warning:hover {
    color: #212529;
    background-color: #e0a800;
    border-color: #d39e00;
  }
  .btn-warning:disabled{
      background-color: #ffe196;
      border-color: #ffe196;
        color:#888888
  }
#userdetails{
    margin-top:7rem;
    padding:1.5rem;
    background-color: #cbeaed;
}
#introbox{
    width:40%;
    padding:2.5rem;
    border-radius:0.7rem
}
button{
    margin-top:1.2rem
}

h3{
    margin-bottom:1rem
}
img{
    display: block;
  margin-left: auto;
  margin-right: auto;
}
#instruction{
    margin-top:1.5rem;
    padding:1.5rem;
    background-color: #cbeaed;
}
#instBox{
    width:63.66%;
    padding:2.5rem;
    border-radius:0.7rem
}
#terms{
    display:inline;
}
#conditions{
    display:inline;

}
#question{
    padding:2rem;
    float:left;
    width:55%;
    height:650px;
    border-radius:0.7rem;
    margin-left:5.5rem;

}
h4{
    font-size:1.5rem;
    margin:0;
    margin-left:1.2rem;
    margin-right:1.2rem;
}
#navbar{
    /* display: inline-block; */
    float:right;
    width:23%;
    height:650px;
    border-radius:0.7rem;
    padding:2rem;
    margin-right:5.5rem;

}
#test{
    margin-top:1.5rem;
    background-color: #cbeaed;
    height:650px
}
#timer{
    float:right;
}
h5{
    font-size:1.25rem
}
.det{
    margin:0
}
#qs{
    font-family: 'Merriweather Sans', sans-serif;
    margin-top: 6rem;
}
#options{
    margin-top: 3rem;
    padding-left:1.25rem;
}
.list-group-item{
    position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  background-color: #fff;
  border: 1px solid #d8d3cd;
  border-radius:0.8rem;
  padding:1.25rem;
  padding-left:1.5rem;
}
.list-group-item:hover{
    background-color: #ececec ;
    cursor:pointer;
}
#prevq, #nextq{
  margin-right:1.2rem;  
  border-radius:0.7rem;
  padding:0.5rem
}
#prevq:hover,#nextq:hover{
    background-color:#ececec ;
} 
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 3px;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 12px;
    font-size: 20px;
    text-align: center;
    border:1px solid grey;
    border-radius: 0.7rem;
  }
  .grid-item:hover{
      background-color: #ececec;
      /* border:1px solid #ececec; */
      cursor: pointer;

  }
  .btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
  }
  .btn-success:hover {
    color: #fff;
    background-color: #218838;
    border-color: #1e7e34;
  }
  .list-group {
    border-top: inherit;
    border-bottom: inherit;
  }
  
#ansdet{
  margin-top:2.5rem;
}
/* popup begins */
.hover_bkgr_fricc{
  background:rgba(0,0,0,.4);
  /* cursor:pointer; */
  display:none;
  height:100%;
  position:fixed;
  text-align:center;
  top:0;
  width:100%;
  z-index:10000;
}
.hover_bkgr_fricc .helper{
  display:inline-block;
  height:100%;
  vertical-align:middle;
}
.hover_bkgr_fricc > div {
  background-color: #fff;
  box-shadow: 10px 10px 60px #555;
  display: inline-block;
  height: auto;
  max-width: 551px;
  min-height: 100px;
  vertical-align: middle;
  width: 60%;
  position: relative;
  border-radius: 8px;
  padding: 30px 5%;
}
.popupCloseButton {
  background-color: #fff;
  border: 3px solid #999;
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  font-family: arial;
  font-weight: bold;
  position: absolute;
  top: -20px;
  right: -20px;
  font-size: 25px;
  line-height: 30px;
  width: 30px;
  height: 30px;
  text-align: center;
}
.popupCloseButton:hover {
  background-color: #ccc;
}
.trigger_popup_fricc {
  cursor: pointer;
  font-size: 20px;
  margin: 20px;
  display: inline-block;
  font-weight: bold;
}
/* Popup box BEGIN */
#score{
  margin-top:1.5rem;
  background-color: #cbeaed;
  height:500px
}
#mainscore{
  width:45%;
  padding:2rem;
  border-radius:0.7rem;
}
#criteria{
  margin-left:3rem;
  margin-top:4rem;
}
.btn-view{
  background-color: #776d8a;
  color:white
}
.btn-view:hover{
  background-color:#2d4059
}
.scoreDisplay{
  margin-left:2.5rem;
}
#easyHighScores,#mediumHighScores,#hardHighScores{
margin:auto;

}